<!-- Code for Navigation Bar -->
 <mat-toolbar color="primary" class="navbar">
  <div>
    <img width="200" height="70" src="assets/img/FBlogo3.png">
  </div>
  <div class="mat-body-2">
  	<a class="nav-link" > Restaurants</a>
	<a class="nav-link" > Night Life</a>  
  </div>
</mat-toolbar> 

<!-- Code for Map and resuarants being displayed -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
crossorigin=""></script>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rokkitt" />


<section class="container">

  <div id="idmap" class="left-half">
    <app-leaf-map></app-leaf-map>
  </div>

  <div class="right-half">
    <div class="infoPanel"> 
      <!-- <p> Are we still doing the filter? </p>
      <a routerLink="Boulder">Boulder </a>   
      <a routerLink="Denver">Denver</a>
      <a routerLink="LosAngeles">Los Angeles</a>    
      <a routerLink="Seattle">Seattle</a>   
      <a routerLink="NewYork">New York</a>    
      <router-outlet></router-outlet> -->
      
      <a id="boulder" href ng-click="value = this.yelpService.getSearchBusiness(boulder)">Boulder</a>
      <a id="denver" href ng-click="value = getSearchBusiness(denver)">Denver</a>
      <a id="losAngeles" href ng-click="value = getSearchBusiness(losAngeles)">Los Angeles</a>
      <a id="seattle" href ng-click="value = getSearchBusiness(seattle)">Seattle</a>
      <a id="newYork" href ng-click="value = getSearchBusiness(newYork)">New York</a>
      <app-info-panel></app-info-panel>
    </div>

  </div>

</section>

























