.mat-toolbar.mat-primary {
  background: #79B9F3;
  color: #fff;
}
.navbar{
	justify-content: space-between;
}

a{
	padding-right: 2rem;
}

/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.left-half {
  position: absolute;
  padding-top: 20px;
  padding-left: 20px;
  left: 0px;
  width: 60%;
}

.right-half {
  position: absolute;
  padding-top: 20px;
  padding-left: 100px;
  right: 0px;
  width: 40%;
}
