// .infoPanel{
// 	padding-top: 60px;
// 	border-style: dotted;
// 	background-color: white;
// }
.infoPanel {
    font-family: Rokkitt;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: larger;
}

.resturantImg {
	max-width:250px;
    max-height:250px;
}

.mat-card {
	width: 85%;
	margin-top: 50px;
	background-color: #F1F1F1;
}

.mat-card-title{
	text-align: center;
}

.mat-card-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a {
    color: rgb(73, 73, 73);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


