.infoPanel{
	padding-top: 60px;
	border-style: dotted;
	background-color: white;
}

.resturantImg {
	width: 98%;
	padding: 10px;
}

.mat-card {
	width: 85%;
	margin-top: 50px;
	background-color: #F1F1F1;
}

.mat-card-title{
	text-align: center;
}
 
.mat-card-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a {
    color: rgb(73, 73, 73);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


