<div *ngIf=!infoPanelService.business>
    <app-suggestions></app-suggestions>
</div>
<div *ngIf=infoPanelService.business>
    <mat-card>
        <img mat-card-image class="resturantImg" [src]="infoPanelService.business.image_url" alt="infoPanelService.business.name" />
      <mat-card-title>{{infoPanelService.business.name}}</mat-card-title>
       <mat-card-content>
            {{infoPanelService.business.rating}} ({{infoPanelService.business.review_count}})<br>
            {{infoPanelService.business.price}} - {{infoPanelService.business.categories[0].title}} - {{infoPanelService.business.location.address1}}<br>
            <span *ngIf="!infoPanelService.business.is_closed" style="color:green">Open</span>
            <span *ngIf="infoPanelService.business.is_closed" style="color:red">Closed</span>
        </mat-card-content>

    </mat-card>


</div>
