 <div class="infoPanel">  
 
  <div *ngIf=infoPanelService.open> 
    <app-suggestions></app-suggestions>
 </div>
 <div *ngIf=!infoPanelService.open> 
  
  <div *ngIf=CityClickService.restaurant>
    <mat-card>
      <span class="close" (click)="onClose()">&times;</span>
      <mat-card-title><a [href]="infoPanelService.business.url" target="_blank">{{infoPanelService.business.name}}</a></mat-card-title>
      <img mat-card-image class="resturantImg" [src]="infoPanelService.business.image_url" />

        <mat-card-content>

          {{infoPanelService.business.rating}} &#9733; ({{infoPanelService.business.review_count}})<br>

          {{infoPanelService.business.price}} - {{infoPanelService.business.categories[0].title}} - {{infoPanelService.business.location.address1}}<br>
          <span *ngIf="!infoPanelService.business.is_closed" style="color:green">Open</span>
          <span *ngIf="infoPanelService.business.is_closed" style="color:red">Closed</span><br>

          
          
        </mat-card-content>
        <mat-card-subtitle>Reviews</mat-card-subtitle>
          <mat-card-content>
            <div class="review" *ngFor="let r of infoPanelService.getReviews(); let i=index">
              <div class="review">
                <a [href]="r.url" target="_blank"><b>{{r.rating}} &#9733; - </b>{{r.text}} </a>
                <hr *ngIf="i!=2">
              </div>
            </div>
          </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf=!CityClickService.restaurant>
      <mat-card>
        <span class="close" (click)="onClose()">&times;</span>
        <mat-card-title><a [href]="infoPanelService.nightLife.event_site_url" target="_blank">{{infoPanelService.nightLife.name}}</a></mat-card-title>
        <img mat-card-image class="resturantImg" [src]="infoPanelService.nightLife.image_url" />
  
          <mat-card-content>
            Category: {{infoPanelService.nightLife.category.toUpperCase()}}<br> 
            {{infoPanelService.nightLife.location.address1}} <br>
            {{infoPanelService.nightLife.attending_count}} attending ({{infoPanelService.nightLife.interested_count}} interested)<br>
            {{infoPanelService.nightLife.description}}<br>

 <span *ngIf="infoPanelService.nightLife.is_canceled" style="color:red">CANCELED</span>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
