<!-- Code for Navigation Bar -->
 <mat-toolbar color="primary" class="navbar">
  <!-- <div> -->
    <a class="logo" (click)="refresh()"> <img width="250" height="80" src="assets/img/FBlogo3.png" ></a>
<!--   </div> -->
  <div class="mat-body-2">
    <a class="nav-link" >Restaurants</a>
  <a class="nav-link" > Night Life</a>
  <!-- <a  id="Restaurants"(click)=" this.yelpService.getBusiness('denver)"> Restaurants</a>
  <a id="nightLife"   (click)="yelpService.getBusiness('boulder') "> Night Life </a> -->
  </div>
</mat-toolbar>